{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock %}
{% block content %}
        <div class="container mt-5">
            <form action="{% url 'change_password' %}" method="post" class="row g-3">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="inputPassword5" class="form-label">Old Password</label>
                    <input name="old_password" type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock">
                </div>
                <div class="mb-3">
                    <label for="inputPassword5" class="form-label">New Password</label>
                    <input name="new_password" type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock">
                </div>
                <div class="mb-3">
                    <label for="inputPassword5" class="form-label">Confirm Password</label>
                    <input name="retype_password" type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
 {% endblock %}